.center-wrapper {
  text-align: center;
  
}
.center-wrapper * {
  margin: 0 auto;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    display: block !important;
    padding: 0.0em 0px 0.0em 0px !important;
}

